.header-cashier {
  background: #171515;
  padding-top: 10px;
}
.header-cashier .tabs-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header-cashier .tabs-list li {
  float: left;
}

.header-cashier .tabs-list li a {
  display: block;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
}

.header-cashier .tabs-list li a.active {
  background: #f0f8ff;
  color: #222;
}

.header-cashier .tabs-list li a:hover {
  text-decoration: none;
}

.header-cashier .search-wrap .fa {
  position: absolute;
  top: 10px;
  left: 20px;
  color: #999;
  font-weight: 300px;
}

.header-cashier .search-wrap input {
  padding-left: 40px;
}

.header-cashier #result-menu-post {
  display: none;
  width: 100%;
  position: absolute;
  left: 20px;
  top: 40px;
  z-index: 1000;
}

.list-filter .list-filter-content {
  padding-top: 20px;
  margin-bottom: 20px;
}

.table-list .table-list-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#bill-info {
  padding-top: 15px;
  padding-bottom: 15px;
}

#pro_search_append .del-pro-order {
  color: #f45564;
  cursor: pointer;
}

.table-list .table-list-content ul li {
  float: left;
  line-height: 70px;
  margin: 6px;
  height: 70px;
  background: gray;
  color: #fff;
  border-radius: 3px;
  width: calc(100% * (1 / 6) - 12px);
  cursor: pointer;
  text-align: center;
  position: relative;
  vertical-align: middle;
}

.table-list .table-list-content ul li.tb-active {
  background: #ff5823;
}

.table-list .table-list-content ul li.inused {
  background: #f94646;
}

.product-list .product-list-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-list .product-list-content ul li {
  float: left;
  margin: 6px;
  width: calc(100% * (1 / 4) - 12px);
  padding: 5px;
}

.product-list .product-list-content ul li:hover {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.product-list .product-list-content ul li a .img-product {
  height: 75px;
  width: 100%;
  text-align: center;
}

.product-list .product-list-content ul li a .img-product img {
  height: 100%;
  width: auto;
}

.product-list .product-list-content ul li a .product-info {
  text-align: center;
}

.product-list .product-list-content ul li a:hover {
  text-decoration: none;
}

.product-list .product-list-content ul li a .product-info .product-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #222;
}

#content-listmenu .bill-action {
  background: #e7eaed;
}

.bill-detail-content {
  height: 350px;
  overflow: auto;
}

.bill-action .btn-pay {
  width: 100%;
  padding: 20px 10px;
  text-align: center;
  background: #4bac4d;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.bill-action .btn-print {
  width: 100%;
  padding: 20px 10px;
  text-align: center;
  background: red;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.bill-action .total_pay {
  color: red;
  font-size: 20px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .table-list .table-list-content ul li {
    width: calc(100% * (1 / 3) - 12px);
  }
}
